.top-section {
    padding: 20px;
    border-bottom: rgba(0, 0, 0, 0.38) 1px solid ;
}

.top-section>.currency-type{
    font-size: small;
}

.top-section>.main-currency{
    padding: 15px 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.top-section input{
    border: none;
    text-align: right;
    padding: 0 20px;
}